.home-container {
  background-color: #213a70;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 30px;
  text-align: center;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: #213a70;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: #1f2d5c;
  color: white;
}